## Settings file was created by plugin ReservedItemSlotCore v1.8.17
## Plugin GUID: FlipMods.ReservedItemSlotCore

[ReservedItemSlotCore]

## This is disabled by default for a reason, and it is NOT recommended to enable this, especially in public lobbies. Enabling this when the host does not have the ReservedItemSlotCore mod CAN, and likely WILL cause de-sync issues. You have been warned. This setting only applies if you are a non-host client, and the host does not have this mod.
# Setting type: Boolean
# Default value: false
ForceEnableThisModIfNotEnabledOnHost = false

## For any reserved item slot mods that have a negative priority, by default, those slots will appear on the left side of the screen, rather than the right. Setting this option to false will have them appear on top of the slots on the right side.
# Setting type: Boolean
# Default value: true
DisplayNegativePrioritySlotsLeftSideOfScreen = true

## This setting will be ignored if InputUtils is installed and enabled. (I recommend running InputUtils to edit keybinds in the in-game settings)
# Setting type: String
# Default value: <Keyboard>/leftAlt
FocusReservedItemSlotsHotkey = <Keyboard>/leftAlt

## If set to true, swapping to the reserved hotbar slots will be toggled when pressing the hotkey rather than while holding the hotkey. Setting this option to true may have bugs at this current time.
# Setting type: Boolean
# Default value: false
ToggleFocusReservedHotbar = true

## If true, the reserved hotbar slots will not fade with the rest of the default slots.
# Setting type: Boolean
# Default value: false
PreventReservedHotbarSlotFade = false

