## Settings file was created by plugin LethalPresents v1.0.4
## Plugin GUID: LethalPresents

[General]

## Chance of spawning an enemy when opening a present [0-100]
# Setting type: Int32
# Default value: 5
SpawnChance = 10

## Enemy blocklist separated by , and without whitespaces
# Setting type: String
# Default value: 
EnemyBlocklist = Spider

## Turns blocklist into allowlist, blocklist must contain at least one inside and one outside enemy, use at your own risk
# Setting type: Boolean
# Default value: false
IsAllowlist = false

## Add mines to the spawn pool
# Setting type: Boolean
# Default value: true
ShouldSpawnMines = true

## Add turrets to the spawn pool
# Setting type: Boolean
# Default value: true
ShouldSpawnTurrets = true

